.hex-grid-container:after {
  content: "";
  display: block;
  clear: both; }
.hex-grid-item {
  list-style-type: none;
  position: relative;
  float: left;
  width: 4.8780487805%;
  padding-bottom: 5.6482926829%;
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
  margin: -0.02%; }
  .hex-grid-item:nth-of-type(40n + 21) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 22) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 23) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 24) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 25) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 26) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 27) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 28) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 29) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 30) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 31) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 32) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 33) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 34) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 35) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 36) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 37) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 38) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 39) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
  .hex-grid-item:nth-of-type(40n + 40) {
    margin-top: -1.4146341463%;
    margin-bottom: -1.4146341463%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg); }
.hex-grid-item * {
  visibility: visible; }
.hex-grid-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: skewY(-30deg) rotate(60deg);
  background-color: transparent; }
.hex-grid-content-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: skewY(-30deg) rotate(60deg);
  background-image: url("../img/board.jpg");
  background-size: 1035%;
  background-color: gray; }
