$block: '.hex-grid';

@mixin grid-item($amount) {
  @for $i from 1 through $amount {
    &:nth-of-type(#{2*$amount}n + #{$amount + $i}) {
      margin-top: #{ -0.29 * 100% / ($amount + 0.5) };
      margin-bottom: #{-0.29 * 100% / ($amount + 0.5) };
      transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
  }
}


#{$block} {
  &-container{
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &-item {
    @include grid-item(20);

    list-style-type: none;
    position: relative;
    float: left;
    width: #{ 100% / (20 + 0.5) };
    padding-bottom: #{ 1.1579 * 100% / (20 + 0.5) };
    transform: rotate(-60deg) skewY(30deg);
    overflow:hidden;
    visibility:hidden;
    margin:-0.02%;
  }
  &-item * {
    visibility:visible;
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2;
    transform: skewY(-30deg) rotate(60deg);
    background-color:transparent;
  }

  &-content-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
    transform: skewY(-30deg) rotate(60deg);
    background-image:url("../img/board.jpg");
    background-size:1035%;
    background-color:gray;
  }

}
