/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * KingdomBuilder implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * KingdomBuilder.css
 *
 * KingdomBuilder stylesheet
 *
 */

div#game_play_area {
  display:flex;
  align-items: flex-start;
}

div#board {
  width:1000px;
}

div#board li .hex-grid-content.selectable {
  cursor: pointer;
  background-color:rgba(255,255,255,0.5);
}

div#board li .hex-grid-content.selectable:hover {
  background-color:rgba(255,255,255,0.2);
}



/*****************
**** KB Cards ****
*****************/

div#kb-cards {
  width:20%;
  display:flex;
  flex-flow:column;
}

div#kb-cards div.kb-card {
  width:100%;
  height:0;
  position:relative;
  padding-bottom:159%;
}

div#kb-cards div.kb-card div.kb-card-mask {
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  width:100%;
  height:100%;
  background-image:url("img/card-mask.png");
  background-size:cover;
}


div#kb-cards div.kb-card div.kb-card-background {
  position:absolute;
  top: 13.5%;
  left: 7.5%;
  z-index: 1;
  width: 85%;
  height: 48%;
  background-image:url("img/card-backgrounds.jpg");
  background-size:1000%;
}

div#kb-cards div.kb-card.kb-card-0 div.kb-card-background { background-position: 0% 0%; }
div#kb-cards div.kb-card.kb-card-1 div.kb-card-background { background-position: 11.1% 0%; }
div#kb-cards div.kb-card.kb-card-2 div.kb-card-background { background-position: 22.2% 0%; }
div#kb-cards div.kb-card.kb-card-3 div.kb-card-background { background-position: 33.3% 0%; }
div#kb-cards div.kb-card.kb-card-4 div.kb-card-background { background-position: 44.4% 0%; }
div#kb-cards div.kb-card.kb-card-5 div.kb-card-background { background-position: 55.5% 0%; }
div#kb-cards div.kb-card.kb-card-6 div.kb-card-background { background-position: 66.6% 0%; }
div#kb-cards div.kb-card.kb-card-7 div.kb-card-background { background-position: 77.7% 0%; }
div#kb-cards div.kb-card.kb-card-8 div.kb-card-background { background-position: 88.8% 0%; }
div#kb-cards div.kb-card.kb-card-9 div.kb-card-background { background-position: 100% 0%; }

div#kb-cards div.kb-card div.kb-card-name {
  position: absolute;
  top: 4%;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 9%;
  font-size:1.5em;
  font-variant:small-caps;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#kb-cards div.kb-card div.kb-card-desc {
  position: absolute;
  top: 63%;
  left: 12%;
  z-index: 3;
  width: 76%;
  height: 32%;
  font-size: 0.9em;
}

div#kb-cards div.kb-card div.kb-card-desc p:nth-of-type(1){
  font-weight: bold;
  margin-bottom: 5%;
}

div#kb-cards div.kb-card div.kb-card-desc p:nth-of-type(2){
  font-style: italic;
}




/***********************
**** Player's panel ****
***********************/
.player-panel {
  display: flex;
  flex-flow: row;
  padding:5px;
  height:35px;
}


.player-panel .tokens-container {
  flex:1;
  display:flex;
  flex-flow:row;
  justify-content: flex-start;
  align-items: center;
}

.player-panel .tokens-container .token {
  position:relative;
  width:40%;
  height:100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Arial;
  font-size: 1.5em;
  color: black;
}

.player-panel .tokens-container .token.token-settlements::before {
  content:'x';
}
.player-panel .tokens-container .token.token-settlements::after {
  content: '';
  display: block;
  position: absolute;
  left: 0.2em;
  top: 0;
  width: 38%;
  height: 100%;
  background-image: url('img/settlements.png');
  background-size: 400%;
  background-repeat: no-repeat;
  z-index:10;
}
/* TODO media query sizing */
.player-panel.player-1 .tokens-container .token.token-settlements::after { background-position:33.33% center; }
.player-panel.player-2 .tokens-container .token.token-settlements::after { background-position:100% center; }
.player-panel.player-3 .tokens-container .token.token-settlements::after { background-position:66.66% center; }
.player-panel.player-4 .tokens-container .token.token-settlements::after { background-position:0% center; }


.player-panel .tokens-container .hex-settlement {
  width:15%;
  padding-bottom:15%;
  background-image: url('img/settlements.png');
  background-size: 400%;
  background-repeat: no-repeat;
  z-index:10;
}
.player-panel.player-1 .tokens-container .hex-settlement { background-position:33.33% center; }
.player-panel.player-2 .tokens-container .hex-settlement { background-position:100% center; }
.player-panel.player-3 .tokens-container .hex-settlement { background-position:66.66% center; }
.player-panel.player-4 .tokens-container .hex-settlement { background-position:0% center; }


.hex-grid-container .hex-settlement {
  display: block;
  position: absolute;
  width:70%;
  height:70%;
  left: 15%;
  top: 15%;
  background-image: url('img/settlements.png');
  background-size: 400%;
  background-repeat: no-repeat;
  z-index:10;
}
.hex-grid-container .hex-settlement.player-1 { background-position:33.33% center; }
.hex-grid-container .hex-settlement.player-2 { background-position:100% center; }
.hex-grid-container .hex-settlement.player-3 { background-position:66.66% center; }
.hex-grid-container .hex-settlement.player-4 { background-position:0% center; }

/**********************************
*** Grid stuff generated from sass
**********************************/
.hex-grid-container:after {
 content: "";
 display: block;
 clear: both; }
.hex-grid-item {
 list-style-type: none;
 position: relative;
 float: left;
 width: 4.8780487805%;
 padding-bottom: 5.6482926829%;
 transform: rotate(-60deg) skewY(30deg);
 overflow: hidden;
 visibility: hidden;
 margin: -0.02%; }
 .hex-grid-item:nth-of-type(40n + 21) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 22) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 23) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 24) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 25) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 26) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 27) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 28) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 29) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 30) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 31) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 32) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 33) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 34) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 35) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 36) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 37) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 38) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 39) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
 .hex-grid-item:nth-of-type(40n + 40) {
   margin-top: -1.4146341463%;
   margin-bottom: -1.4146341463%;
   transform: translateX(50%) rotate(-60deg) skewY(30deg); }
.hex-grid-item * {
 visibility: visible; }
.hex-grid-content {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
 transform: skewY(-30deg) rotate(60deg);
 background-color: transparent; }
.hex-grid-content-background {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 1;
 transform: skewY(-30deg) rotate(60deg);
 background-image: url("./img/board.jpg");
 background-size: 1035%;
 background-color: gray; }
