/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * KingdomBuilder implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * KingdomBuilder.css
 *
 * KingdomBuilder stylesheet
 *
 */

div#game_play_area {
  display:flex;
  align-items: flex-start;
  flex-wrap:wrap;
}

div#board {
  width: 100%;
  max-width:1000px;
  flex-shrink: 0;
  margin-bottom: 5%;
}


/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

.log.cancel .roundedbox {
  background-color: rgba(255, 205, 210, 0.6);
}



/*****************
**** KB Cards ****
*****************/

div#objectives {
  width: 600px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-grow: 1;
}

div#objectives div.objective {
  width:200px;
  height:0;
  position:relative;
  padding-bottom:318px;
}
div#objectives div.objective.selected {
  border: 2px solid blue;
  border-radius: 20px;
}

div#objectives div.objective div.objective-mask {
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  width:100%;
  height:100%;
  background-image:url("img/card-mask.png");
  background-size:cover;
}


div#objectives div.objective div.objective-background {
  position:absolute;
  top: 13.5%;
  left: 7.5%;
  z-index: 1;
  width: 85%;
  height: 48%;
  background-image:url("img/card-backgrounds.jpg");
  background-size:1000%;
}

div#objectives div.objective.objective-1 div.objective-background { background-position: 0% 0%; }
div#objectives div.objective.objective-2 div.objective-background { background-position: 11.1% 0%; }
div#objectives div.objective.objective-3 div.objective-background { background-position: 22.2% 0%; }
div#objectives div.objective.objective-4 div.objective-background { background-position: 33.3% 0%; }
div#objectives div.objective.objective-5 div.objective-background { background-position: 44.4% 0%; }
div#objectives div.objective.objective-6 div.objective-background { background-position: 55.5% 0%; }
div#objectives div.objective.objective-7 div.objective-background { background-position: 66.6% 0%; }
div#objectives div.objective.objective-8 div.objective-background { background-position: 77.7% 0%; }
div#objectives div.objective.objective-9 div.objective-background { background-position: 88.8% 0%; }
div#objectives div.objective.objective-10 div.objective-background { background-position: 100% 0%; }

div#objectives div.objective div.objective-name {
  position: absolute;
  top: 4%;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 9%;
  font-size:1em;
  font-variant:small-caps;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#objectives div.objective div.objective-desc {
  position: absolute;
  top: 63%;
  left: 12%;
  z-index: 3;
  width: 76%;
  height: 32%;
  font-size: 0.6em;
}

div#objectives div.objective div.objective-desc p:nth-of-type(1){
  font-weight: bold;
  margin-bottom: 5%;
}

div#objectives div.objective div.objective-desc p:nth-of-type(2){
  font-style: italic;
}


.dijitTooltip div.objective {
  display:grid;
}
.dijitTooltip div.objective div.objective-name {
  grid-column: 1;
  grid-row:1;
  font-weight: bold;
}
.dijitTooltip div.objective div.objective-desc {
  grid-column: 1;
  grid-row: 2;
}
.dijitTooltip div.objective div.objective-picto {
  grid-column: 2;
  grid-row:1 / span 2;
  width:200px;
  height:163px;
  background-image:url("img/objectives.jpg");
  background-size:100%;
}
div.objective.objective-1 div.objective-picto { background-position: 0% 0%; }
div.objective.objective-2 div.objective-picto { background-position: 0% 11.1%; }
div.objective.objective-3 div.objective-picto { background-position: 0% 22.2%; }
div.objective.objective-4 div.objective-picto { background-position: 0% 33.3%; }
div.objective.objective-5 div.objective-picto { background-position: 0% 44.4%; }
div.objective.objective-6 div.objective-picto { background-position: 0% 55.5%; }
div.objective.objective-7 div.objective-picto { background-position: 0% 66.6%; }
div.objective.objective-8 div.objective-picto { background-position: 0% 77.7%; }
div.objective.objective-9 div.objective-picto { background-position: 0% 88.8%; }
div.objective.objective-10 div.objective-picto { background-position: 0% 100%%; }



/***********************
**** Player's panel ****
***********************/
.player-name #first-player {
  width:40px;
  height:38px;
  background-image:url("img/starter.png");
  background-size:100%;
  background-repeat:no-repeat;
  position:absolute;
  top:0;
  right:37px;
}

.player-panel {
  display:grid;
  grid-template-columns: 80px 1fr;
  grid-column-gap: 10px;
  grid-template-rows: 40px minmax(70px,auto);
  grid-row-gap: 10px;

  padding:5px;
}


.player-panel .player-terrain {
  grid-row:1 / 3;
  grid-column:1;
  background-image:url("img/terrains.png");
  background-size:600%;
  background-repeat:no-repeat;
}
.player-panel .player-terrain.terrain-back { background-position:0% center; }
.player-panel .player-terrain.terrain-0 { background-position:20% center; }
.player-panel .player-terrain.terrain-1 { background-position:40% center; }
.player-panel .player-terrain.terrain-2 { background-position:60% center; }
.player-panel .player-terrain.terrain-3 { background-position:80% center; }
.player-panel .player-terrain.terrain-4 { background-position:100% center; }


.player-panel .player-settlements {
  position:relative;
  grid-row:1;
  grid-column:2;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial;
  font-size: 1.5em;
  color: black;
}
.player-panel .player-settlements .player-settlements-counter {
  margin-left:60px;
}

.player-panel .player-settlements .player-settlements-counter::before {
  content:'x';
}
.player-panel .player-settlements .player-settlements-counter::after,
.player-panel .player-settlements .hex-settlement {
  content: '';
  display: block;
  position: absolute;
  left: 0.2em;
  top: 0;
  width: 40px;
  height: 40px;
  background-image: url('img/settlements.png');
  background-size: 400%;
  background-repeat: no-repeat;
  z-index:10;
}

.player-panel.player-1 .player-settlements .player-settlements-counter::after,
.player-panel.player-1 .player-settlements .hex-settlement { background-position:0% center; }
.player-panel.player-2 .player-settlements .player-settlements-counter::after,
.player-panel.player-2 .player-settlements .hex-settlement { background-position:33.33% center; }
.player-panel.player-3 .player-settlements .player-settlements-counter::after,
.player-panel.player-3 .player-settlements .hex-settlement { background-position:66.66% center; }
.player-panel.player-4 .player-settlements .player-settlements-counter::after,
.player-panel.player-4 .player-settlements .hex-settlement { background-position:100% center; }

.player-panel .player-tiles {
  grid-row:2;
  grid-column:2;
  display:flex;
  flex-flow:row;
  justify-content: flex-start;
  align-items: center;
  position:relative;
  flex-wrap: wrap;
}

.player-panel .player-tiles .tile {
  cursor:pointer;
}

.tile {
  flex-shrink: 0;
  width: 50px;
  height: 57px;
  background-image: url('img/tiles.png');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index:10;
}
.tile.pending {
  opacity:0.6;
}

.tile.location-8 { background-position:0% calc(0 * 100% / 7); }
.tile.location-9 { background-position:0% calc(1 * 100% / 7); }
.tile.location-10 { background-position:0% calc(2 * 100% / 7); }
.tile.location-11 { background-position:0% calc(3 * 100% / 7); }
.tile.location-12 { background-position:0% calc(4 * 100% / 7); }
.tile.location-13 { background-position:0% calc(5 * 100% / 7); }
.tile.location-14 { background-position:0% calc(6 * 100% / 7); }
.tile.location-15 { background-position:0% calc(7 * 100% / 7); }




.hex-grid-container .hex-settlement {
  display: block;
  position: absolute;
  width:70%;
  height:70%;
  left: 15%;
  top: 15%;
  background-image: url('img/settlements.png');
  background-size: 400%;
  background-repeat: no-repeat;
  z-index:10;
}
.hex-grid-container .hex-settlement.player-1 { background-position:0% center; }
.hex-grid-container .hex-settlement.player-2 { background-position:33.33% center; }
.hex-grid-container .hex-settlement.player-3 { background-position:66.66% center; }
.hex-grid-container .hex-settlement.player-4 { background-position:100% center; }


div#board li .hex-grid-content.cell-player-1 { background-color:rgba(87,16,16,0.5); }
div#board li .hex-grid-content.cell-player-2 { background-color:rgba(37,74,19,0.5); }
div#board li .hex-grid-content.cell-player-3 { background-color:rgba(33,51,76,0.5); }
div#board li .hex-grid-content.cell-player-4 { background-color:rgba(99,66,21,0.5); }

div#board li .hex-grid-content.selectable {
  cursor: pointer;
  background-color:rgba(255,255,255,0.5);
}

div#board li .hex-grid-content.selectable:hover {
  background-color:rgba(255,255,255,0.2);
}


div#board li .hex-grid-content.selected {
  background-color:rgba(255,255,255,0.1);
}


.tile-container {
  position:absolute;
  width:100%;
  height:100%;
}

.tile-container div:first-child{
  position:absolute;
  z-index:4;
  background-color: orange;
  border: 1px solid black;
  border-radius: 50%;
  width: 40%;
  height: 0;
  padding-bottom: 40%;
  font-size: 0.9em;
  text-align: center;
  top: -18%;
  left: 25%;
}
.tile-container div:first-child:nth-last-child(1)::after { content:"0"; }
.tile-container div:first-child:nth-last-child(2)::after { content:"1"; }
.tile-container div:first-child:nth-last-child(3)::after { content:"2"; }

.tile-container div:nth-child(2) { top:0; left:0; z-index:1;}
.tile-container div:nth-child(3) { top:-3px; left:-3px; z-index:2;}

.tile-container .tile {
  position:absolute;
  width:100%;
  height:100%;
}



.hex-grid-content .scorenumber {
  z-index:10;
  font-size:0.7em;
}

/**********************************
*** Choose tile dialog
**********************************/
#popin_chooseTile {
  background:none;
  background-color:#fddc79;
  padding:0;
  border-color:black;
}

#popin_chooseTile h2 {
  padding: 10px 15px;
  margin: 0;
}

#popin_chooseTile_contents {
  display:flex;
  flex-direction: column;
}

#popin_chooseTile_contents .tile-prompt {
  width:100%;
  background-color:#fee9b0;
  border-top: 1px solid black;
  display:flex;
  flex-direction: row;
  cursor:pointer;
}
#popin_chooseTile_contents .tile-prompt:last-child {
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
}
#popin_chooseTile_contents .tile-prompt:hover {
  background-color:#f9ce5a;
}


.dijitTooltip .tile-prompt {
  width:100%;
  background-color:#fee9b0;
  border: 1px solid black;
  border-radius:5px;
  display:flex;
  flex-direction: row;
}

.tile-prompt .tile {
  width: 80px;
  height: 90px;
  margin: 10px;
}

.tile-prompt .tile-name {
  font-weight: bold;
}

.tile-prompt .tile-picto {
  width:200px;
  height:80px;
  margin:10px;
  flex-shrink:0;
  background-size:100%;
  background-repeat:no-repeat;
  background-image:url("img/pictograms.png");
}
.tile-prompt .tile-picto.location-8 { background-position:0% calc(0 * 100% / 7); }
.tile-prompt .tile-picto.location-9 { background-position:0% calc(1 * 100% / 7); }
.tile-prompt .tile-picto.location-10 { background-position:0% calc(2 * 100% / 7); }
.tile-prompt .tile-picto.location-11 { background-position:0% calc(3 * 100% / 7); }
.tile-prompt .tile-picto.location-12 { background-position:0% calc(4 * 100% / 7); }
.tile-prompt .tile-picto.location-13 { background-position:0% calc(5 * 100% / 7); }
.tile-prompt .tile-picto.location-14 { background-position:0% calc(6 * 100% / 7); }
.tile-prompt .tile-picto.location-15 { background-position:0% calc(7 * 100% / 7); }



/**********************************
*** Grid stuff generated from sass
**********************************/
#grid-container {
  width:100%;
  position:relative;
}
#grid-container::before {
  content:"";
  padding-top:86%;
  display:block;
}


.hex-grid-container {
  position:absolute;
  top:0;
  left:0;
  display:grid;
  grid-template-columns: repeat(41, 1fr);
  grid-template-rows: repeat(61, 1fr);
  width:100%;
  height:100%;
  list-style-type: none;
  padding:0;
  margin:0;
}

.quadrant {
  grid-column-end:span 21;
  grid-row-end:span 31;
  z-index:1;
  overflow: hidden;
  background-image: url("img/border.png"), url("img/board.jpg") ;
  background-size: 100%, 100%;
  background-position:center, center;
  background-color:black;
  clip-path:polygon(0.00% 3.23%,4.76% 0%,9.52% 3.23%,14.29% 0%,19.05% 3.23%,23.81% 0%,28.57% 3.23%,33.33% 0%,38.10% 3.23%,42.86% 0%,47.62% 3.23%,52.38% 0%,57.14% 3.23%,61.90% 0%,66.67% 3.23%,71.43% 0%,76.19% 3.23%,80.95% 0%,85.71% 3.23%,90.48% 0%,95.24% 3.23%,95.24% 3.23%,95.24% 9.68%,100.00% 12.90%,100.00% 19.35%,95.24% 22.58%,95.24% 29.03%,100.00% 32.26%,100.00% 38.71%,95.24% 41.94%,95.24% 48.39%,100.00% 51.61%,100.00% 58.06%,95.24% 61.29%,95.24% 67.74%,100.00% 70.97%,100.00% 77.42%,95.24% 80.65%,95.24% 87.10%,100.00% 90.32%,100.00% 96.77%,95.24% 100.00%,95.24% 100%,90.48% 96.77%,85.71% 100%,80.95% 96.77%,76.19% 100%,71.43% 96.77%,66.67% 100%,61.90% 96.77%,57.14% 100%,52.38% 96.77%,47.62% 100%,42.86% 96.77%,38.10% 100%,33.33% 96.77%,28.57% 100%,23.81% 96.77%,19.05% 100%,14.29% 96.77%,9.52% 100%,4.76% 96.77%,4.76% 90.32%,0.00% 87.10%,0.00% 80.65%,4.76% 77.42%,4.76% 70.97%,0.00% 67.74%,0.00% 61.29%,4.76% 58.06%,4.76% 51.61%,0.00% 48.39%,0.00% 41.94%,4.76% 38.71%,4.76% 32.26%,0.00% 29.03%,0.00% 22.58%,4.76% 19.35%,4.76% 12.90%,0.00% 9.68%,0.00% 3.23%,4.76% 0.00%);
  -webkit-clip-path:polygon(0.00% 3.23%,4.76% 0%,9.52% 3.23%,14.29% 0%,19.05% 3.23%,23.81% 0%,28.57% 3.23%,33.33% 0%,38.10% 3.23%,42.86% 0%,47.62% 3.23%,52.38% 0%,57.14% 3.23%,61.90% 0%,66.67% 3.23%,71.43% 0%,76.19% 3.23%,80.95% 0%,85.71% 3.23%,90.48% 0%,95.24% 3.23%,95.24% 3.23%,95.24% 9.68%,100.00% 12.90%,100.00% 19.35%,95.24% 22.58%,95.24% 29.03%,100.00% 32.26%,100.00% 38.71%,95.24% 41.94%,95.24% 48.39%,100.00% 51.61%,100.00% 58.06%,95.24% 61.29%,95.24% 67.74%,100.00% 70.97%,100.00% 77.42%,95.24% 80.65%,95.24% 87.10%,100.00% 90.32%,100.00% 96.77%,95.24% 100.00%,95.24% 100%,90.48% 96.77%,85.71% 100%,80.95% 96.77%,76.19% 100%,71.43% 96.77%,66.67% 100%,61.90% 96.77%,57.14% 100%,52.38% 96.77%,47.62% 100%,42.86% 96.77%,38.10% 100%,33.33% 96.77%,28.57% 100%,23.81% 96.77%,19.05% 100%,14.29% 96.77%,9.52% 100%,4.76% 96.77%,4.76% 90.32%,0.00% 87.10%,0.00% 80.65%,4.76% 77.42%,4.76% 70.97%,0.00% 67.74%,0.00% 61.29%,4.76% 58.06%,4.76% 51.61%,0.00% 48.39%,0.00% 41.94%,4.76% 38.71%,4.76% 32.26%,0.00% 29.03%,0.00% 22.58%,4.76% 19.35%,4.76% 12.90%,0.00% 9.68%,0.00% 3.23%,4.76% 0.00%);
}

.quadrant.flipped {
  transform:rotate(180deg);
}
.quadrant.quadrant-0 { background-position:0% 0%; }
.quadrant.quadrant-1 { background-position:0% 14.2857%; }
.quadrant.quadrant-2 { background-position:0% 28.5714%; }
.quadrant.quadrant-3 { background-position:0% 42.8571%; }
.quadrant.quadrant-4 { background-position:0% 57.1428%; }
.quadrant.quadrant-5 { background-position:0% 71.42857%; }
.quadrant.quadrant-6 { background-position:0% 85.71428%; }
.quadrant.quadrant-7 { background-position:0% 100%; }

#quadrant-top-left {
  grid-column-start: 1;
  grid-row-start:1;
}
#quadrant-top-right {
  grid-column-start: 21;
  grid-row-start:1;
}
#quadrant-bottom-left {
  grid-column-start: 1;
  grid-row-start:31;
}
#quadrant-bottom-right {
  grid-column-start: 21;
  grid-row-start:31;
}


.hex-grid-item {
  position:relative;
  height:0;
  padding-bottom:115.7%;
  z-index:5;
}

.hex-grid-item * {
  visibility: visible;
}

.hex-grid-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: transparent;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
